@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

#root {
  min-height: 100vh;
  animation: fadeIn 1.5s;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "outfit";
  color: #585858;
  font-weight: 400;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
